@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/voaii/thelounge-theme-ianon/version.css");
:root {
  --document-version: 233;
  --available-version: 233;
  --update-available: clamp(0, calc(var(--available-version) - var(--document-version)), 1);
  --body-color: #dadada;
  --msg-self-color: rgb(236, 248, 255);
  --msg-self-bg-color: #1b1f27;
  --msg-action-color: #f1fa8c;
  --border-color: #20283b;
  --body-color-muted: #6272a4;
  --msg-self-background-color: var(--border-color);
  --body-bg-color: #202126;
  --button-color: #50fa7b;
  --button-text-color-hover: #282a36;
  --overlay-bg-color: rgba(0, 0, 0, .5);
  --link-color: #f8f8f2;
  --window-bg-color: #202126;
  --window-heading-color: #44475a;
  --date-marker-color: rgba(40, 42, 54, .5);
  --unread-marker-color: #ff79c6;
  --highlight-bg-color: rgba(255, 255, 255, .08);
  --highlight-bg-color-mobile-conversation-layout: #2d3e6d;
  --background-color-msg-self-conversation-layout: #3d4045;
  --highlight-msg-color: #eaeaea;
  --highlight-border-color: #44475a;
  --upload-progressbar-color: #50fa7b;
  --time-color: #838592;
  --time-color-hover: #a3a5b5;
  --channel-list-item-hover-background: rgba(255, 255, 255, .05);
  --color-toggle-content: #f3f3f3;
  --color-toggle-content-body: #99a2b4;
  --color-chat-container-placeholder: #99a2b4;
  --color-date-marker: #97ea70;
  --color-timestamp-self-mobile-conversation-layout: #b2b2b2;
  --color-timestamp-highlight-mobile-conversation-layout: #8995b7;
  --chat-bubble-background: #2c2d33;
  --font-size: 16px;
  --font-size-msg: 14px;
  --font-size-nick: 14px;
  --font-size-chat-timestamp: 12px;
  --font-size-channel-list: 13.5px;
  --font-size-embed-text: 13.5px;
  --font-size-form-submit-mobile: 14px;
  --font-size-inputs: 14px;
  --font-size-join-button: 14px;
  --font-weight-msg: 400;
  --font-weight-nick: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-toggle-chanlist: 500;
  --font-weight-chat-timestamp: 400;
  --line-height-chat-msg: 1.5;
  --color-webkit-tap: rgba(0, 0, 0, 0);
  --color-box-shadow-window: rgba(0, 0, 0, .5);
  --color-form-inputs: #eee;
  --form-nick-background: #182533;
  --color-monospace-and-code: #f3f3f3;
  --background-kbd: #333;
  --color-kbd: #eee;
  --color-error: #f92772;
  --color-inputs: #fff;
  --color-inputs-hover: rgba(255, 255, 255, .4);
  --color-inputs-placeholders: rgba(255, 255, 255, .7);
  --color-inputs-placeholders-hover: rgba(255, 255, 255, 1)
; }

@media (max-width: 680px) {
  :root {
    --font-size: 14.5px;
    --font-size-nick: 14.5px;
    --font-size-msg: 14.5px;
    --font-size-channel-list: 14px;
    --font-size-embed-text: 13px;
    --font-size-inputs: 14.5px;
    --font-size-join-button: 14.5px;
    --font-size-chat-timestamp: 11px
	; } }

body {
  font: initial;
  font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: initial; }

@media (max-width: 680px) {
  body {
    overflow-y: scroll; } }

html * {
  outline: 0;
  -webkit-tap-highlight-color: var(--color-webkit-tap);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-smooth: unset;
  -moz-osxfont-smoothing: auto;
  -webkit-font-smoothing: auto; }

#form {
  background: #1d1e22; }

.channel-list-item .add-channel::before {
  font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 19px; }

.channel-list-item.active,
.channel-list-item {
  background: rgba(0, 0, 0, 0); }

.channel-list-item.active {
  background: #393b44; }

.channel-list-item:hover,
.channel-list-item:focus {
  background: var(--channel-list-item-hover-background);
  transition: all .55s; }

#sidebar .empty,
.channel-list-item {
  font-size: var(--font-size-channel-list); }

@media (min-width: 680px) {
  .channel-list-item {
    padding: 8px 14px; } }

.channel-list-item[data-type=channel]::before,
.context-menu-chan::before {
  content: ""; }

#loading .window {
  margin: 5px; }

#viewport {
  padding: 0; }

#viewport.menu-open {
  padding-left: 0; }

.window {
  border-radius: 5px;
  box-shadow: none; }

@media (max-width: 768px) {
  #loading .window {
    margin: 0; }
  #viewport,
  #viewport.menu-open {
    padding: 0; }
  #footer .icon {
    border-radius: 0; }
  .window {
    border-radius: 0; } }

#chat .time {
  color: var(--time-color);
  font-size: var(--font-size-chat-timestamp);
  font-weight: var(--font-weight-chat-timestamp);
  opacity: 1;
  order: 8;
  transition: all .55s; }

#chat .time:hover,
#chat .time:focus {
  color: var(--time-color-hover);
  opacity: 1; }

.from .user {
  font-size: var(--font-size-nick);
  font-weight: var(--font-weight-nick); }

.messages .msg .content,
.messages .msg .from,
.messages .msg {
  font-size: var(--font-size-msg);
  font-weight: var(--font-weight-msg);
  line-height: var(--line-height-chat-msg); }

@media (max-width: 680px) {
  :root {
    --line-height-chat-msg: 1.4
; } }

@media (min-width: 680px) {
  #chat .from {
    padding-left: 20px;
    width: 144px; } }

.messages .msg,
textarea,
input {
  font-size: var(--font-size-msg); }

#chat .msg.self .content,
#chat .msg.self .content * {
  color: var(--msg-self-color); }

#chat .msg.self {
  background-color: rgba(0, 0, 0, 0); }

#chat .msg[data-type=action] .from::before,
#chat .msg[data-type=action],
#chat .msg[data-type=action] .content,
#chat .msg[data-type=action] span,
#chat .msg[data-type=action].self .user {
  color: var(--msg-action-color); }

@media (max-width: 680px) {
  #chat .condensed-summary .from,
  #chat .condensed-summary .time {
    display: block; }
  #chat .msg:not(.closed):not([data-type=condensed]),
  #chat .msg:not(.closed):not([data-type=condensed])[data-type=message] {
    align-items: unset;
    clear: both;
    display: grid;
    flex-wrap: wrap;
    float: left;
    font-size: var(--font-size-msg);
    gap: 0 2px;
    grid-template-columns: minmax(50px, 1fr) 50px; }
  #chat .time {
    justify-self: flex-end;
    overflow: visible;
    white-space: nowrap;
    width: auto !important; }
  #chat .from {
    grid-column: 1/-1;
    -webkit-mask-image: linear-gradient(270deg, transparent, var(--window-bg-color) 10px);
    mask-image: linear-gradient(270deg, transparent, var(--window-bg-color) 10px);
    padding-right: 10px;
    width: 75px; }
  #chat .content {
    border-left: 1px solid var(--body-color-muted);
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    text-align: left; } }

#chat .content {
  border-left: 1px solid var(--body-color-muted); }

#chat .content {
  border: 0; }

#chat .content,
#chat .header,
#chat .userlist,
#form,
#windows #form .input {
  border-color: var(--border-color); }

#chat .userlist .search,
#form {
  background-color: var(--window-bg-color); }

#chat .count::before,
#chat .userlist .search::placeholder,
#form #input::placeholder {
  color: var(--body-color-muted); }

#sidebar {
  border-right: 1px solid var(--border-color);
  width: 180px; }

@media (min-width: 680px) {
  .channel-list-item::before {
    line-height: 18px;
    margin-right: 12px;
    width: 15px; } }

.logo-container {
  height: 0 !important;
  margin-top: -7px !important;
  opacity: 0 !important; }

.jump-to-input {
  display: none; }

.networks {
  margin-top: 10px; }

.channel-list-item[data-type=lobby],
#chat .toggle-content .head {
  font-size: var(--font-size-embed-text);
  font-weight: var(--font-weight-toggle-chanlist); }

#chat .content span[class*=irc-].irc-bold,
#chat .content span.irc-bold,
.irc-bold {
  font-weight: var(--font-weight-semibold); }

@media (max-width: 680px) {
  #chat .toggle-content .head {
    margin-bottom: 5px; } }

#chat.colored-nicks .user.color-31,
#chat.colored-nicks .user.color-5 {
  color: #40407a; }

#chat.colored-nicks .user.color-1 {
  color: #f7adf7; }

#chat.colored-nicks .user.color-2 {
  color: #abf99f; }

#chat.colored-nicks .user.color-3 {
  color: #86efdc; }

#chat.colored-nicks .user.color-4 {
  color: #b76ee5; }

#chat.colored-nicks .user.color-5 {
  color: #f9a4b3; }

#chat.colored-nicks .user.color-6 {
  color: #f7999a; }

#chat.colored-nicks .user.color-7 {
  color: #f497b9; }

#chat.colored-nicks .user.color-8 {
  color: #f9a9d7; }

#chat.colored-nicks .user.color-9 {
  color: #7fa2e2; }

#chat.colored-nicks .user.color-10 {
  color: #8be9fd; }

#chat.colored-nicks .user.color-11 {
  color: #ad88fc; }

#chat.colored-nicks .user.color-12 {
  color: #f4aead; }

#chat.colored-nicks .user.color-13 {
  color: #fc71ab; }

#chat.colored-nicks .user.color-14 {
  color: #ff79c6; }

#chat.colored-nicks .user.color-15 {
  color: #8cb6ea; }

#chat.colored-nicks .user.color-16 {
  color: #ffb86c; }

#chat.colored-nicks .user.color-17 {
  color: #ed9b82; }

#chat.colored-nicks .user.color-18 {
  color: #8df484; }

#chat.colored-nicks .user.color-19 {
  color: #ffcce3; }

#chat.colored-nicks .user.color-20 {
  color: #efcc81; }

#chat.colored-nicks .user.color-21 {
  color: #90a1ed; }

#chat.colored-nicks .user.color-22 {
  color: #f4d484; }

#chat.colored-nicks .user.color-23 {
  color: #97ea70; }

#chat.colored-nicks .user.color-24 {
  color: #fcbbba; }

#chat.colored-nicks .user.color-25 {
  color: #eef975; }

#chat.colored-nicks .user.color-26 {
  color: #c7ff93; }

#chat.colored-nicks .user.color-27 {
  color: #ffade1; }

#chat.colored-nicks .user.color-28 {
  color: #98ecf2; }

#chat.colored-nicks .user.color-29 {
  color: #7187f2; }

#chat.colored-nicks .user.color-30 {
  color: #9676e2; }

#chat.colored-nicks .user.color-31 {
  color: #f2a4eb; }

#chat.colored-nicks .user.color-32 {
  color: #85f27d; }

#chat .unread-marker-text::before {
  background: var(--window-bg-color); }

#chat .date-marker::before {
  border-color: var(--color-date-marker); }

#chat .date-marker-text::before {
  background: var(--window-bg-color);
  color: var(--color-date-marker); }

#chat .msg[data-type=monospace_block] .text {
  background: var(--window-bg-color); }

#form {
  background: var(--window-bg-color); }

.input[type=text],
#windows #form .input,
#settings .input {
  background-color: var(--window-bg-color);
  color: var(--color-form-inputs); }

#settings .input::placeholder {
  color: var(--color-chat-container-placeholder); }

#form #nick {
  background: var(--form-nick-background);
  color: var(--body-color); }

#form #submit:hover,
#form #submit:focus {
  opacity: 1; }

code,
.irc-monospace {
  background: var(--window-bg-color);
  color: var(--color-monospace-and-code); }

kbd {
  background-color: var(--background-kbd);
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), transparent);
  border-color: var(--window-bg-color);
  box-shadow: 0 2px 0 var(--window-bg-color), inset 0 1px 1px #777, inset 0 -1px 3px #222;
  color: var(--color-kbd);
  text-shadow: 0 -1px 0 var(--window-bg-color); }

#chat-container ::placeholder {
  color: var(--color-chat-container-placeholder);
  opacity: .5; }

#chat-container ::input-placeholder {
  color: var(--color-chat-container-placeholder);
  opacity: .5; }

#chat-container :input-placeholder {
  color: var(--color-chat-container-placeholder);
  opacity: .5; }

#chat .error,
#chat .error .from,
#chat .channel .highlight,
#chat .channel .highlight .from,
#chat .channel .highlight .text {
  color: var(--color-error); }

#chat .chat-view[data-type=channel] .msg.highlight {
  background: #20283b;
  border-color: transparent; }

#chat .chat-view[data-type=channel] .msg.highlight .content {
  color: var(--highlight-msg-color); }

body #chat .toggle-content .thumb {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  min-width: 90px;
  object-fit: cover;
  width: 90px; }

#chat .toggle-content .body {
  color: var(--color-toggle-content-body); }

#chat .toggle-content {
  align-items: center;
  background: var(--highlight-bg-color);
  border-radius: 5px;
  box-shadow: none;
  color: var(--color-toggle-content);
  margin-bottom: 3px;
  margin-top: 7px;
  max-width: 100%;
  overflow: hidden;
  white-space: normal; }

#chat .toggle-content:not(.toggle-type-image) .toggle-thumbnail {
  max-height: 68px; }

#chat .toggle-content .toggle-thumbnail {
  height: 100%; }

#chat .toggle-content.opened {
  align-items: flex-start; }

#chat .toggle-content .toggle-text {
  font-size: var(--font-size-embed-text);
  padding: 11px 15px; }

@media (max-width: 680px) {
  #chat .toggle-content .toggle-text {
    padding: 8px 10px; }
  #form #submit,
  #form #upload {
    font-size: var(--font-size-form-submit-mobile); } }

#context-menu,
.textcomplete-menu {
  background: var(--body-bg-color); }

.context-menu-item,
.textcomplete-item {
  color: var(--body-color); }

.context-menu-item:hover,
.textcomplete-item:hover,
.context-menu-item:focus,
.textcomplete-item:focus {
  background: rgba(255, 255, 255, 0.11); }

.textcomplete-item a {
  color: var(--body-color-muted); }

.textcomplete-item a:hover,
.textcomplete-item a:focus {
  color: var(--body-color); }

.window h2,
.window h3 {
  color: var(--body-color); }

#chat .msg[data-type=condensed] .msg,
#chat .msg {
  padding-bottom: 0;
  padding-top: 0; }

#chat .from::after {
  display: none !important; }

#chat .userlist {
  width: 150px; }

#chat .content span[class*=irc-] {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: inherit; }

#footer button.active {
  background-color: var(--window-bg-color); }

.public label[for="connect:nick"] {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.public #connectform h2 {
  color: rgba(0, 0, 0, 0);
  font-size: 0; }

body:not(.public) #connectform h2 {
  background: linear-gradient(-70deg, #97c8f6, #20ffa7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  display: block;
  font-size: 62px;
  font-weight: var(--font-weight-bold);
  text-align: left;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  visibility: visible; }

.public #connectform h2::after {
  background: linear-gradient(-70deg, #97c8f6, #20ffa7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  content: "Valitse nimimerkki";
  display: block;
  font-size: 48px;
  font-weight: var(--font-weight-bold);
  text-align: left;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  visibility: visible; }

@media (min-width: 1300px) and (max-width: 1350px) {
  body:not(.public) #connectform h2 {
    font-size: 48px; }
  .public #connectform h2::after {
    font-size: 48px; } }

@media (min-width: 1100px) and (max-width: 1300px) {
  body:not(.public) #connectform h2 {
    font-size: 48px; }
  .public #connectform h2::after {
    font-size: 48px; } }

@media (min-width: 760px) and (max-width: 1100px) {
  body:not(.public) #connectform h2 {
    font-size: 42px; }
  .public #connectform h2::after {
    font-size: 42px; } }

@media (min-width: 670px) and (max-width: 760px) {
  body:not(.public) #connectform h2 {
    font-size: 42px; }
  .public #connectform h2::after {
    font-size: 42px; } }

@media (max-width: 670px) {
  body:not(.public) #connectform h2 {
    font-size: 32px; }
  .public #connectform h2::after {
    font-size: 32px; } }

#connectform {
  margin-top: 4.2rem; }

#connectform input.input,
#connectform button {
  font-size: 18px;
  font-weight: var(--font-weight-semibold);
  height: auto;
  padding: 15px 20px;
  transition: all 22ms; }

#connect .btn {
  background: linear-gradient(-180deg, #34b859, #2ea44f);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  color: var(--color-inputs);
  transition: all 22ms; }

.public #connect .btn {
  font-size: 0; }

.public #connect .btn::after {
  border-bottom-left-radius: 0;
  border-left: 0;
  border-top-left-radius: 0;
  color: var(--color-inputs);
  content: "/join #pulina";
  font-size: var(--font-size-join-button);
  text-transform: lowercase;
  transition: all 22ms; }

body #connectform input.input {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--color-inputs);
  font-size: var(--font-size-inputs);
  line-height: 1;
  transition: all 22ms; }

#connectform input.input,
#connect .btn::after {
  font-size: var(--font-size-inputs); }

#connectform input.input::placeholder {
  color: var(--color-inputs-placeholders);
  opacity: 1; }

#connectform input.input:hover,
#connectform input.input:focus {
  color: var(--color-inputs-hover); }

#connectform input.input:hover::placeholder,
#connectform input.input:focus::placeholder {
  color: var(--color-inputs-placeholders-hover); }

@media (max-width: 760px) {
  #connectform {
    justify-content: center; } }

#sidebar .empty {
  display: none; }

@media (max-width: 680px) {
  #chat .unread-marker, #chat .date-marker {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%; }
  #chat .content {
    border: 0;
    display: block;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0; }
  #chat .from {
    padding-left: 0;
    padding-top: 0; }
  #chat .unread-marker-text::before,
  #chat .date-marker-text::before {
    white-space: nowrap; }
  #chat .msg[data-type=condensed] {
    display: grid;
    grid-column: 1/-1;
    width: 100%; }
  #chat .msg[data-type=condensed],
  #chat .msg {
    background: var(--chat-bubble-background);
    border-radius: 10px;
    margin: 4px 10px;
    max-width: 82%;
    padding: 8px 10px; }
  #chat .msg[data-type=condensed] > .msg,
  #chat .msg > .msg {
    margin-left: 0; }
  #chat .msg .from {
    padding-right: 5px; }
  #chat .msg[data-type=condensed] .from .user .only-copy,
  #chat .msg[data-type=condensed] .from .only-copy,
  #chat .msg[data-type=condensed] .from * .only-copy,
  #chat .msg .from .user .only-copy,
  #chat .msg .from .only-copy,
  #chat .msg .from * .only-copy {
    display: none; }
  #chat .msg[data-type=condensed] .time,
  #chat .msg .time {
    align-self: end;
    font-size: var(--font-size-chat-timestamp);
    margin-right: 0;
    position: static;
    white-space: nowrap; }
  #chat .chat-view[data-type=channel] .msg.highlight {
    background: var(--highlight-bg-color-mobile-conversation-layout) !important; }
  #chat .chat-view[data-type=channel] .msg.highlight .time {
    color: var(--color-timestamp-highlight-mobile-conversation-layout); }
  #chat .chat-view[data-type=channel] .msg.highlight.previous-source {
    margin-top: -1px; }
  #chat .msg.self {
    background: var(--background-color-msg-self-conversation-layout);
    float: right !important;
    justify-self: flex-end;
    margin-left: auto;
    max-width: 82%; }
  #chat .msg.self .from {
    display: none !important; }
  #chat .msg.self.previous-source {
    font-size: var(--font-size-msg); }
  #chat .msg.self .time {
    color: var(--color-timestamp-self-mobile-conversation-layout); }
  #chat .msg + .msg.previous-source .from {
    display: none; }
  #chat .msg[data-type=message] .from {
    float: left;
    text-align: left;
    width: auto; }
  #chat .msg:not([data-type=message]) .from {
    display: none; }
  #chat .msg:not([data-type=message]) .from::before {
    display: none; }
  #chat .msg[data-type=message] .content {
    color: #e3e3e3; }
  .messages .msg .from,
  .from .user,
  #chat .from {
    font-weight: 600; }
  #chat .msg[data-type=message].previous-source .content {
    display: inline-block; }
  #chat .msg:not([data-type=message]) .content {
    border: 0;
    opacity: .85; }
  #chat .toggle-content {
    margin-top: 8px; }
  #chat .toggle-content .toggle-text {
    white-space: normal; }
  #chat .toggle-content:not(.toggle-type-image) .toggle-thumbnail {
    max-height: 100%; } }

@media (max-width: 768px) {
  #sidebar .channel-list-item {
    font-size: 1em; }
  #chat .from {
    margin-bottom: 3px; } }

#form::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 1;
  border-radius: 10px;
  background: #191a1e; }

#form #input {
  margin: 0;
  padding: 0px 10px; }

#form * {
  z-index: 1; }

#form {
  border-top: 0;
  padding: 10px;
  margin: 0 10px 10px 10px; }

#chat {
  margin-bottom: 10px; }

@media only screen and (min-device-width: 768px) {
  #chat .chat-view[data-type=channel] .msg.highlight,
  #chat .chat-view[data-type=channel] .msg.highlight .content {
    border-left: none; } }

@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (display-mode: browser) {
  html, body, #viewport, #chat-container {
    height: 100vh; }
  #chat-container {
    height: 100vh; } }

@media (max-width: 680px) {
  div[data-type="message"],
  #chat .msg,
  #chat .msg.self,
  #chat .msg .content,
  #chat .msg.self .content,
  #chat .chat-view[data-type=channel] .msg.highlight,
  #chat .msg:only-of-type,
  #chat .msg:only-of-type .content,
  #chat .msg.previous-source,
  #chat .msg.selfprevious-source,
  #chat .msg.previous-source .content {
    font-size: var(--font-size-msg) !important;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%; }
  #chat .msg[data-type=condensed] .from .user,
  #chat .msg[data-type=condensed] .from,
  #chat .msg[data-type=condensed] .from *,
  #chat .msg .from .user,
  #chat .msg .from,
  #chat .msg .from * {
    font-size: var(--font-size-nick); }
  #chat .msg[data-type=condensed] .time,
  #chat .msg .time {
    font-size: var(--font-size-chat-timestamp); }
  #chat .msg.self.previous-source {
    font-size: var(--font-size-msg); }
  #chat .msg[data-type="message"] .content {
    font-size: var(--font-size-msg); }
  #chat .chat-view[data-type=channel] .msg.highlight .content {
    border-left: none; } }

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (display-mode: standalone) {
  #form {
    margin-bottom: 50px;
    transition: margin-bottom 0.2s; }
    #form:focus-within {
      margin-bottom: 15px; }
  #footer {
    margin-bottom: 40px; } }

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (display-mode: browser) {
  html, body, #viewport, #chat-container {
    height: 100vh; }
  #chat-container .messages:last-child {
    padding-bottom: 70; }
  #form:focus-within {
    margin-bottom: 60px !important; } }

@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (display-mode: standalone) {
  #form {
    margin-bottom: 50px;
    transition: margin-bottom 0.2s; }
    #form:focus-within {
      margin-bottom: 15px; }
  #footer {
    margin-bottom: 40px; } }

@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (display-mode: browser) {
  html, body, #viewport, #chat-container {
    height: 100vh; }
  #chat-container .messages:last-child {
    padding-bottom: 70; }
  #form:focus-within {
    margin-bottom: 60px !important; } }

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (display-mode: standalone) {
  #form {
    margin-bottom: 50px;
    transition: margin-bottom 0.2s; }
    #form:focus-within {
      margin-bottom: 15px; }
  #footer {
    margin-bottom: 40px; } }

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (display-mode: browser) {
  html, body, #viewport, #chat-container {
    height: 100vh; }
  #chat-container .messages:last-child {
    padding-bottom: 70; }
  #form:focus-within {
    margin-bottom: 60px !important; } }

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (display-mode: standalone) {
  #form {
    margin-bottom: 50px;
    transition: margin-bottom 0.2s; }
    #form:focus-within {
      margin-bottom: 15px; }
  #footer {
    margin-bottom: 40px; } }

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (display-mode: browser) {
  html, body, #viewport, #chat-container {
    height: 100vh; }
  #chat-container .messages:last-child {
    padding-bottom: 70; }
  #form:focus-within {
    margin-bottom: 60px !important; } }

@media only screen and (min-device-width: 428px) and (max-device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (display-mode: standalone) {
  #form {
    margin-bottom: 50px;
    transition: margin-bottom 0.2s; }
    #form:focus-within {
      margin-bottom: 15px; }
  #footer {
    margin-bottom: 40px; } }

@media only screen and (min-device-width: 428px) and (max-device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (display-mode: browser) {
  html, body, #viewport, #chat-container {
    height: 100vh; }
  #chat-container .messages:last-child {
    padding-bottom: 70; }
  #form:focus-within {
    margin-bottom: 60px !important; } }

#help .about::before {
  content: '\f06a   An update is available for iAnon, your active theme.';
  display: block;
  background-color: var(--link-color);
  color: var(--sidebar-background);
  border-radius: 2px;
  font-size: 14px;
  font-family: "FontAwesome", var(--primary-font);
  white-space: pre-wrap;
  height: calc(var(--update-available) * 1em + calc(var(--update-available) * 20px));
  padding: calc(10px * var(--update-available));
  margin: calc(10px * var(--update-available)) 0;
  overflow: hidden; }

#footer .help {
  position: relative; }
  #footer .help::before {
    opacity: calc(1 - var(--update-available)); }
  #footer .help::after {
    content: '\f06a';
    color: var(--link-color);
    overflow: hidden;
    pointer-events: none;
    opacity: var(--update-available);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
